<ion-header>
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 <ion-card>
  <ion-card-header>
    Balance
  </ion-card-header>
  <ion-card-content>
    0
  </ion-card-content>
</ion-card>
 
 <ion-card>
  <ion-card-header>
    Send
  </ion-card-header>
  <ion-card-content>
    0
  </ion-card-content>
</ion-card>
 

 <ion-card>
  <ion-card-header>
    Transactions
  </ion-card-header>
  <ion-card-content>
    0
  </ion-card-content>
</ion-card>

</ion-content>
